body {
    margin: 0;
}

.main-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/5_background/complete_background.png');
    height: 100vh;
}

.start-screen {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/5_background/complete_background.png');
}

.start-btn {
    border-radius: 10px;
    width: 400px;
    height: 80px;
    margin-top: 20px;
}

.start-btn:hover {
    filter: brightness(1.75);
    cursor: pointer;
}

.game-intro {
    width: 720px;
    height: 480px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-size: cover;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #7D2F13;
    height: 100px;
    width: 720px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left,
.right,
.jump,
.throw-bottle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img,
.right img,
.jump img,
.throw-bottle img {
    margin: 0;
    width: 50px;
    height: auto;
}

.left span,
.right span,
.jump span,
.throw-bottle span {
    margin-left: 10px;
}

.d {
    width: 43px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-position: center;
    background-size: cover; */
    /* background-image: url('img/5_background/first_half_background.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

h1 {
    color: #FFDD02;
    font-size: 40px;
}

#canvas {
    border-radius: 10px;
    /* display: block; */
}

.game-over {
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffdd02b7;
}

.game-over img {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 32px;
}

.game-over img:hover {
    cursor: pointer;
    filter: brightness(1.75);
}

.d-none {
    display: none !important;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media(max-width: 730px) {
    .start-btn {
        width: 200px;
        height: 60px;
    }
    .game-intro {
        width: 420px;
        height: 280px;
    }
    .controls {
        height: 100px;
        width: 420px;
    }
    .left img,
    .right img,
    .jump img,
    .throw-bottle img {
        width: 30px;
        height: auto;
    }
    .left span,
    .right span,
    .jump span,
    .throw-bottle span {
        font-size: 12px;
        margin-left: 5px;
    }
}

@media(max-width: 460px) {
    .start-btn {
        width: 150px;
        height: 40px;
    }
    .game-intro {
        width: 320px;
        height: 250px;
    }
    .controls {
        height: 80px;
        width: 320px;
    }
    .left img,
    .right img,
    .jump img,
    .throw-bottle img {
        width: 20px;
        height: auto;
    }
    .left span,
    .right span,
    .jump span,
    .throw-bottle span {
        font-size: 8px;
        margin-left: 5px;
    }
}

@media (max-width: 600px) {
    .game-over img {
        width: 100px;
        height: auto;
    }
    .game-over {
        background-size: 850px;
    }
}